@model IEnumerable<Projet.Models.Categorie>


<div id="categorie">
    <input class="search" placeholder="Search" />
   
    <table class="table table-striped">
        <!-- IMPORTANT, class="list" have to be at tbody -->
        <tbody class="list">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom_Categorie)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    
                    <td class="name">@Html.DisplayFor(Model => @item.Nom_Categorie)</td>

                    <td>
                        @Ajax.ActionLink("Modifier la catégorie", "ModifierCategorie", new { codeC = item.Code_Categorie }, new AjaxOptions() { UpdateTargetId = "partial", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Supprimer la catégorie", "SupprimerCategorie", new { codeC = item.Code_Categorie }, new { @class = "btn btn-danger" })
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <p>
        @Ajax.ActionLink("Ajouter une catégorie de test", "AjouterCategorie", null, new AjaxOptions() { UpdateTargetId = "partial", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary" })
    </p>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

</div>

<script type="text/javascript">
    var options = {
        valueNames: ['name']
    };
    var patients = new List('categorie', options);
</script>
